{% extends "base.html" %}
{% block content %}

<div class="col-12">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="my-0 mr-md-auto font-weight-normal">{{ blog.title }}</h5><br><br>
                        <img src="/media/{{ blog.image }}"><br><br>
                        <p>{{ blog.body }}</p><br><br>
                        <p>Статья опубликована {{ blog.public_date }}</p><br><br>
                        <p>Просмотрело: {{ blog.watch }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}