{% extends "base.html" %}
{% block content %}

<div class="col-12">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                            ФИО: {{ client.fio }}<br><br>
                            Почта: {{ client.email }}<br><br>
                            Комментарий: {{ client.comment }}<br><br>
                            {% if is_manager %}
                            {% else %}
                                <a type="button" href="{% url 'mailing:update_client' client.id %}" class="btn btn-primary">Редактировать</a>
                                <a type="button" href="{% url 'mailing:delete_client' client.id %}" class="btn btn-danger">Удалить</a>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}